

.khan__buy-link {
  display: flex;
  align-self: flex-start;
  margin: 0 0 0 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  opacity: 1;
  transition: 0.4s;
  color: #2f80ed;
  justify-content: left;
  }
  
  .khan__buy-link:hover {
    opacity: 0.5;
  }